<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Thu Neko Trace Welcome</title>
  <script type="text/javascript" src="../../static/js/renren.js"></script>
  <link rel="stylesheet" href="../../static/css/rrappwelcome.css">
</head>
<body>
	Welcome!
	<script type="text/javascript">
	  var uiOpts = {
		  url : "http://graph.renren.com/oauth/authorize",
		  display : "iframe",
		  params : {"response_type":"token","client_id":"179454"},
		  onSuccess: function(r){
		    top.location = "http://apps.renren.com/thunekotrace/home";
		  },
		  onFailure: function(r){} 
	  };
	  Renren.ui(uiOpts);
  </script>
</body>
</html>